:root {
  --color-primary: #01cd74;
  --color-secondary: #00160b;
  --color-third: #ff4e00;
  --color-white: #fff;
}

/* for firefox browser */
html {
  scrollbar-color: #ff4e00 #e2e2e2;
  scrollbar-width: thin;
}
.modal-scrollbar-mozila {
  scrollbar-color: #ff4e00 #e2e2e2;
  scrollbar-width: thin;
}

/* for chrom and safari */
body::-webkit-scrollbar {
  width: 0.4em;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--color-third);
  outline: none;
}
.modal-scrollbar::-webkit-scrollbar {
  width: 0.3em;
}
.modal-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-third);
  outline: none;
}
.scroll-none::-webkit-scrollbar {
  display: none;
}
